@tailwind base;
@tailwind components;
@tailwind utilities;

.log {
    width: 100px;
    height: 35px;
    padding-top: 5px;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 2px;

    background-color: #2CB67D;
    color: #ffff;
}

.log:hover {
    width: 100px;
    height: 35px;
    padding-top: 5px;

    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #2CB67D;
    border-radius: 2px;

    background-color: hsl(155, 96%, 29%);
    color: #ffff;
}

.sin {
    width: 100px;
    height: 35px;
    padding-top: 5px;

    text-align: center;
    align-items: center;
    justify-content: center;


    border: 1px solid #2CB67D;
    border-radius: 2px;
    background-color: #fff;
    color: #2CB67D;
}

.sin:hover {
    width: 100px;
    height: 35px;
    padding-top: 5px;

    text-align: center;
    align-items: center;
    justify-content: center;



    border-radius: 2px;
    background-color: hsl(155, 96%, 29%);
    color: #fff;
}

.mob {
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mlog {
    margin-left: 30%;
}

.body {
    background-color: #D9D9D9;
}

.get {
    background-color: #2CB67D;
    width: 150px;
    height: 40px;
    border-radius: 2px;
}

.get:hover {
    background-color: hsl(155, 96%, 29%);
    width: 150px;
    height: 40px;
    border-radius: 2px;

}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;

}

.row input,
.row textarea {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.row input:focus,
.row textarea:focus {
    box-shadow: inset 0px -3px 0px 0px hsl(155, 96%, 29%);
    outline: none;
    background: #fff;
}

.row input::-webkit-input-placeholder,
.row textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder,
.row textarea:hover::-webkit-input-placeholder,
.row textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.row label {
    align-self: start;
    padding-left: 4.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
}

.other {
    margin-top: -20rem;
}

.row button {
    border-radius: 10px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: hsl(155, 96%, 29%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.row button:hover {
    opacity: 0.8;
}

#headerTitle {
    text-align: center;
    font-weight: 600;
    padding-top: 14vh;


    font-size: 2rem;
}

.rw {
    margin-top: 20px;
}

.rw label {
    position: relative;
    width: 137px;
    height: 24px;
    left: 50px;
}

.rw span {
    position: relative;
    width: 137px;
    height: 24px;
    left: 100px;
    bottom: 1px;
    color: #181818;

}

.row span {
    color: hsl(155, 96%, 29%)
}

.new {
    margin-top: -50px;
}

.new1 {
    margin-top: 50px;
}